body {
  background-color: rgb(153, 173, 168);
}

/* .main {
  height: 100vh;
} */
.navbar {
  color: black;
}

span {
  color: rgb(46, 51, 63);
  font-size: 5vw;
  margin-top: 10px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

#resumeImg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nav-link {
  cursor: pointer;
}

a {
  color: red;
  text-decoration: none;
  all: unset;
}

a:hover {
  color: black;
}

#heroTitle {
  color: #fff;
  border-left: 0.3vw solid #ffff;
  font-size: 2.8vw;
  padding: 2px;
}

.nameHero {
  font-size: 7vw;
  color: rgb(182, 182, 178);
}

#heroImgContainer {
  height: 40vw;
  border-bottom-left-radius: 50%;
  background: rgb(10, 11, 75);
}

#projectsTitleContainer1 {
  height: 50vw;
  border-bottom-left-radius: 50%;
  background: rgb(54, 97, 122);
}

#img1 {
  cursor: pointer;
  border-radius: 50%;
  border: 0.75vw solid rgb(46, 51, 63);
}

#p1p {
  line-height: 1.5;
  font-size: 1.7vw;
}

/* #project1Description {
  margin-left: 70px;
} */

#heroTitle1 {
  color: #fff;
  margin-left: 1vw;
  border-left: 0.3vw solid #ffff;
  font-size: max(4vw, 20px);
  padding: 10px;
}

@media screen and (min-width: 2050px) {
  #heroTitle1 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

#projectsTitleContainer2 {
  color: rgb(94, 142, 148);
  height: 45vw;
  border-bottom-left-radius: 50%;
  background: rgb(179, 182, 31);
}

.fa-github {
  cursor: pointer;
  color: rgb(46, 51, 63);
  font-size: 50px;
}

.projectsHeader {
  font-size: 7vw;
  color: rgb(224, 200, 154);
}

.resumeHeader {
  font-size: 7vw;
  color: rgb(94, 142, 148);
}

#p2p {
  font-size: 2vw;
  color: rgb(46, 51, 63);
}

#projectsTitleContainer3 {
  color: rgb(46, 51, 63);
  height: 45vw;
  border-bottom-left-radius: 50%;
  background: rgb(26, 66, 52);
}

.educationHeader {
  font-size: 7vw;
  color: rgb(179, 182, 31);
}

body {
  background-color: rgb(153, 173, 168);
  /* background-color: rgb(153, 173, 168); */
}
.nav-link {
  cursor: pointer;
}

a {
  color: red;
  text-decoration: none;
  all: unset;
}

a:hover {
  color: black;
}

.navbar {
  color: black;
}

.fa-github {
  cursor: pointer;
  color: rgb(46, 51, 63);
  font-size: 50px;
}

.triangle {
  margin-top: 5vw;
  padding: 0;

  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 86.60254vw solid rgb(54, 97, 122);
  /* border-bottom: 86.60254vw solid rgb(223, 125, 13); */
  /* border-bottom: 86.60254vw solid rgb(240, 127, 14); */
}

.innerTriangle {
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  margin-top: 1.3vw;
  padding: 0;

  width: 0;
  height: 0;
  border-left: 48.7vw solid transparent;
  border-right: 48.7vw solid transparent;

  border-bottom: 84.60254vw solid rgb(31, 40, 122);
  /* border-bottom: 84.60254vw solid rgb(202, 186, 47); */
}

.circle {
  background-color: rgb(224, 200, 154);
  /* background-color: rgb(177, 111, 100); */
  margin-top: 112.9vw;
  padding: 0px;
  width: 56.3vw;
  height: 56.3vw;
  border-radius: 50%;
  border: 1vw solid rgb(207, 130, 5);
}

.square {
  background-color: rgb(10, 11, 75);
  display: flex;
  justify-content: center;

  margin-top: 7.9vw;
  padding: 0px;
  width: 38.5vw;
  height: 38.5vw;
  border: 1vw solid rgb(10, 11, 75);
}

.animate__animated.animate__slideInDown {
  --animate-duration: 4s;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 4s;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 4s;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 4s;
}

.animate__animated.animate__rubberBand {
  --animate-duration: 1s;
}

#initials {
  font-size: 5vw;
  margin-left: 2vw;
}

#projectsHeader {
  transform: rotate(65deg);
  font-size: 5vw;
  padding: 0;
  margin-left: -25vw;
  color: #fff;
}

#aboutHeader {
  font-size: 5vw;
  padding: 0;
  margin-right: -10vw;
  transform: rotate(270deg);
  color: #fff;
}

#contactHeader {
  font-size: 5vw;
  padding: 0;
  margin-right: 10vw;
  transform: rotate(90deg);
  color: #fff;
}

#resumeHeader {
  font-size: 5vw;
  padding: 0;
  margin-right: -10vw;
  /* transform: rotate(180deg); */
  color: #fff;
}

.ohNiceShow {
  display: block;
  font-size: 10vw;
  margin-top: -10px;
  margin-right: 35vw;

  color: #fff;
}

.triangleChaos {
  margin-right: -65vw;
  margin-top: 20vw;
}

.circleChaos {
  background-color: rgb(224, 200, 154);
  position: relative;
  padding: 0px;
  width: 56.3vw;
  height: 56.3vw;
  border-radius: 50%;
  border: 1vw solid rgb(207, 136, 5);
  margin-right: -60vw;
  margin-top: -40vw;
  z-index: -1000;
}

.innerTriangleChaos {
  margin-right: -33vw;
  margin-top: 10vw;
}

.squareChaos {
  position: relative;
  padding: 0px;
  width: 100vw;
  height: 65vw;
  border: 1vw solid rgb(10, 11, 75);
  border-top: 10px solid rgb(44, 12, 104);
  background-color: rgb(10, 11, 75);
  /* background-color: rgb(54, 105, 54); */
  margin-top: 100vw;
  margin-right: 31.3vw;
}

/* #homeBtn:hover ~ .circleChaos {
  background-color: black;
} */

#nameHeader {
  color: rgb(26, 26, 51);
}
