body {
  /* background-color: #181880;
  opacity: 0.7;
  background-image: radial-gradient(#1520e0 0.5px, #181880 0.5px);
  background-size: 10px 10px; */

  border-radius: 500px;

  font-family: "DM Sans", sans-serif;
  z-index: -3;
}

.navbar {
  color: black;
  /* border-bottom: 3px solid black; */
}

.IJF {
  color: black;
  margin-left: 1vw;
}

span {
  color: rgb(255, 0, 0);
}

/* @media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
} */

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

#resumeImg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nav-link {
  cursor: pointer;
}

a {
  color: red;
  text-decoration: none;
  all: unset;
}

a:hover {
  color: black;
}

#heroImg {
  position: relative;
  right: -24vw;
  opacity: 10%;
}

#heroTitle {
  color: #fff;
  border-left: 2px solid #ffff;
  position: relative;
  left: 30vw;
  font-size: 3vw;
  top: 5vw;
}

.nameHero {
  /* border-top: 2px solid black;
  border-left: 2px solid black; */
  position: relative;
  font-size: 7vw;
  left: 30vw;
  color: #fff;
  top: 5vw;
}

#heroImgContainer {
  background-color: #050592;
  opacity: 0.7;
  background-image: linear-gradient(#0010e9 2px, transparent 2px),
    linear-gradient(90deg, #0010e9 2px, transparent 2px),
    linear-gradient(#0010e9 1px, transparent 1px),
    linear-gradient(90deg, #0010e9 1px, #050592 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  border-bottom-left-radius: 50%;
}
